@use 'variaveis';
@use '_hero';
<<<<<<< HEAD
@use '_shows.scss';

@font-face {
    font-family: Avenir;
    src: url(../../src/fonts/Avenir-Bold.woff2);
=======

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir-Bold;
    src: url(../../fonts/Avenir-Bold.woff2);
    font-weight: 700;
>>>>>>> a983c2a24836353e99327337c52ce4ff54d6b3d0
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTexto;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTexto;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: Avenir, sans-serif;
=======
>>>>>>> a983c2a24836353e99327337c52ce4ff54d6b3d0
}

body {
    background-color: variaveis.$corFundo;
<<<<<<< HEAD
=======
    font-family: Avenir, sans-serif
>>>>>>> a983c2a24836353e99327337c52ce4ff54d6b3d0
}

.text--big {
    @include text(18px)
}

.text {
    @include text();
}

.text--small {
    @include text(12px)
}

.title--big {
    @include title(44px);
}

.title {
    @include title();
}

.title--small {
    @include title(28px)
}

.link-text {
    @include text(18px);
    color: variaveis.$corTexto;
    text-decoration: underline;
}